@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #efefef; }

h1 {
  margin: 0;
  font-size: 60px; }

h3 {
  font-size: 48px; }

section {
  margin: 0 0 130px; }

a {
  transition: 0.5s; }
  a:hover, a:focus {
    text-decoration: none; }

h2 {
  margin: 0 0 30px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  color: #3d4451; }

.img-responsive {
  display: inline-block; }

.text-bold {
  font-weight: 700; }

header {
  height: 100%;
  padding: 0;
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  header .introduction {
    color: #fff; }
    header .introduction h3 {
      font-weight: 300; }
    header .introduction a {
      font-size: 72px;
      color: #fff;
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
      margin: 0 auto; }
      header .introduction a:hover {
        display: inline-block;
        color: #1a77d4;
        border-radius: 50%; }

nav {
  transition: 0.5s; }

.navbar-default {
  border: 0;
  background-color: transparent;
  padding: 15px 0; }
  .navbar-default .navbar-toggle {
    border-color: #9da0a7; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background: #9da0a7; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
  color: #3d4451;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 3px solid transparent; }

.navbar-default .navbar-nav > .active > a {
  border: 0;
  border-bottom: 3px solid #1a77d4;
  background: transparent; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  border-bottom: 3px solid #1a77d4; }

.navbar-fixed-top {
  background: #fff;
  padding: 5px 20px 5px 0; }
  .navbar-fixed-top .navbar-nav > li > a,
  .navbar-fixed-top .navbar-nav > .active > a {
    font-size: 12px; }

.about .container {
  padding-top: 60px;
  background: #fff; }

.hello {
  display: inline-block;
  font-size: 15px;
  background: #1a77d4;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 20px;
  margin-bottom: 20px; }

.intro {
  text-align: center;
  margin-top: 30px;
  color: #080707;
  padding-bottom: 15px;
  border-bottom: 1px solid #d7d7d7; }
  .intro h4,
  .intro h5 {
    font-weight: 300; }
  .intro h4 {
    font-size: 36px; }
  .intro h5 {
    font-size: 28px; }

.contact {
  display: table;
  color: #9da0a7;
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 60px; }

.single-contact {
  display: table-row; }
  .single-contact .text-bold {
    color: #3d4451; }
  .single-contact span {
    display: table-cell;
    padding: 0 30px 5px 0; }

.social {
  background: #1a77d4;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  font-size: 20px; }
  .social ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0; }
  .social li {
    display: inline-block;
    padding: 27px 20px; }
  .social a {
    color: #fff; }
    .social a:hover {
      font-size: 27px; }

.technical-skills {
  color: #080707;
  font-size: 14px; }
  .technical-skills .container {
    background: #fff;
    padding: 25px; }

.meter {
  height: 6px;
  background: #e7e7e7;
  margin: 12px 0 10px; }
  .meter > span {
    background: #1a77d4;
    height: 100%;
    display: block; }

.timeline {
  padding-top: 30px;
  margin: 0 auto;
  position: relative; }
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 10px;
    background: #b5cfe8; }
  .timeline .timeline-block:last-child {
    margin-bottom: 0; }

.timeline-block {
  position: relative;
  margin-bottom: 70px; }

.timeline-block-content {
  position: relative;
  margin-left: 70px;
  background: #fff;
  border-radius: 0.25em;
  padding: 30px; }
  .timeline-block-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-right: 14px solid #fff; }
  .timeline-block-content h5 {
    color: #1a77d4;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin: 0 0 3px; }
  .timeline-block-content .date {
    display: block;
    color: #3d4451;
    font-size: 14px;
    font-weight: 700; }
  .timeline-block-content h6,
  .timeline-block-content p {
    font-size: 16px;
    color: #9da0a7;
    font-weight: 300; }
  .timeline-block-content h6 {
    margin-bottom: 25px; }

.timeline-point {
  width: 20px;
  height: 20px;
  background: #1a77d4;
  display: block;
  position: absolute;
  top: 22px;
  left: 13px;
  border-radius: 50%; }

.education {
  margin: 0 auto;
  text-align: center; }
  .education .education-block {
    width: 300px;
    margin: 0 auto; }
    .education .education-block:first-child {
      margin-bottom: 30px; }
  .education .top-block {
    background: #1a77d4;
    color: #fff;
    padding: 60px 20px;
    min-height: 151px; }
    .education .top-block h6 {
      font-size: 18px;
      font-weight: 300; }
    .education .top-block span {
      display: block;
      font-size: 13px;
      font-weight: 600; }
  .education .bottom-block {
    background: #fff;
    padding: 40px 20px;
    min-height: 195px;
    color: #9da0a7; }
    .education .bottom-block h6 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px; }
    .education .bottom-block span {
      display: block;
      font-size: 13px;
      margin-bottom: 7px;
      font-weight: 300; }

footer {
  margin-top: 30px;
  background: #3d4451;
  text-align: center;
  padding: 80px 0; }

.btn-download {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px; }
  .btn-download:hover, .btn-download:focus {
    color: #3d4451;
    background: #fff;
    outline: none; }

@media (min-width: 768px) {
  section {
    margin-top: 60px; }
  .intro {
    text-align: left;
    margin-top: 0; }
  .social li {
    padding: 27px 33px; }
  .timeline {
    width: 80%; }
  .date {
    float: right;
    margin-top: 4px; }
  .education {
    width: 100%; }
  .education-block:first-child {
    margin-bottom: 0; }
  .navbar-fixed-top {
    padding: 5px 120px 5px 0; } }

@media (min-width: 992px) {
  .timeline {
    width: 70%; }
  .education {
    width: 80%; } }

@media (min-width: 1200px) {
  .nav > li > a {
    padding: 15px 20px; }
  .education {
    width: 60%; } }
