@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: $light-grey;
}

h1 {
  margin: 0;
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

section {
  margin: 0 0 130px;
}

a {
  transition: 0.5s;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h2 {
  margin: 0 0 30px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  color: $blackish;
}

.img-responsive {
  display: inline-block;
}

.text-bold {
  font-weight: 700;
}
