.work-exprience {
  padding-bottom: 50px;
}

.timeline {
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
  padding-right: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 10px;
    background: $transparent-blue;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-block {
  position: relative;
  margin-bottom: 70px;
}

.timeline-block-content {
  position: relative;
  margin-left: 70px;
  background: $white;
  border-radius: 0.25em;
  padding: 30px;

  .company-name {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-right: 14px solid $white;
  }

  h5 {
    color: $main-blue;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin: 0 0 3px;
  }

  .date {
    color: $light-black;
    font-size: 14px;
    font-weight: 700;
  }

  h6,
  p {
    font-size: 16px;
    color: $text-grey;
    font-weight: 300;
  }

  h6 {
    margin-bottom: 25px;
  }
}

.timeline-point {
  width: 20px;
  height: 20px;
  background: $main-blue;
  display: block;
  position: absolute;
  top: 22px;
  left: 13px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .timeline-block-content {
    .company-name {
      flex-direction: row;
      align-items: baseline;
      & > h5 {
        flex: 1;
      }
    }
  }
}
