.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transition: 0.5s;
  align-content: center;
  border: 0;
  background-color: transparent;
  padding: 15px 0;

  .navbar-toggle {
    border-color: $text-grey;

    &:focus,
    &:hover {
      background: transparent;
    }

    .icon-bar {
      background: $text-grey;
    }
  }
}

.navbar .navbar-nav>li>a,
.navbar .navbar-nav>.active>a {
  text-decoration: none;
  color: $light-black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 3px solid transparent;
}

.navbar .navbar-nav>.active>a {
  border: 0;
  border-bottom: 3px solid $main-blue;
  background: transparent;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
  background: transparent;
  border-bottom: 3px solid $main-blue;
}

.navbar-fixed-top {
  background: $white;
  padding: 5px 20px 5px 0;
  .navbar-nav>li>a,
  .navbar-nav>.active>a {
    font-size: 12px;
  }
}
