@media (min-width: 768px) {
  section {
    margin-top: 60px;
  }

  .intro {
    text-align: left;
    margin-top: 0;
  }

  .social {
    li {
      padding: 27px 33px;
    }
  }

  .timeline {
    width: 80%;
  }

  .date {
    float: right;
    margin-top: 4px;
  }

  .education {
    width: 100%;
  }

  .education-block {
    &:first-child {
      margin-bottom: 0;
    }
  }

  .navbar-fixed-top {
    padding: 5px 120px 5px 0;
  }
}



@media (min-width: 992px) {
  .timeline {
    width: 70%;
  }
  .education {
    width: 80%;
  }
}



@media (min-width: 1200px) {
  .nav>li>a {
    padding: 15px 20px;
  }

  .education {
    width: 60%;
  }
  
  .social {
    margin-right: -15px;
    margin-left: -15px;
  }
}
